<nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-2xl font-semibold">Mitarbeiterverwaltung</a>
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white hover:text-gray-300">Home</a></li>
            <li><a href="/mitarbeiter" class="text-white hover:text-gray-300">Mitarbeiter</a></li>
            <li><a href="/mitarbeiter" class="text-white hover:text-gray-300">Abteilungen</a></li>
            <li><a href="/mitarbeiter" class="text-white hover:text-gray-300">Jobs</a></li>
        </ul>
    </div>
</nav>