<h2 style="margin-bottom: 30px;">Mitarbeiter hinzufügen</h2>


<form [formGroup]="mitarbeiterForm">

    <h3>Daten</h3>

    <!-- Vorname -->
    <div class="entryDiv">
        <div class="headerText">
            Vorname
        </div>
        <input type="text" pInputText [formControl]="mitarbeiterForm.controls.vorname" />
    </div>

    <!-- Nachname -->
    <div class="entryDiv">
        <div class="headerText">
            Nachname
        </div>
        <input type="text" pInputText [formControl]="mitarbeiterForm.controls.nachname" />
    </div>

    <!-- Job -->
    <div class="entryDiv">
        <div class="headerText">
            Job
        </div>
        <p-dropdown [options]="jobs" [formControl]="mitarbeiterForm.controls.job" (onShow)="onJobDropDown($event)"></p-dropdown>  
    </div>

    <!-- Abteilung (DropDown) -->
    <div class="entryDiv">
        <div class="headerText">
            Abteilung
        </div>
        <p-dropdown [options]="departments" [formControl]="mitarbeiterForm.controls.abteilung" (onShow)="onAbteilungDropDown($event)"></p-dropdown>
    </div>

    <!-- Geburtsdatum -->
    <div class="entryDiv">
        <div class="headerText">
            Geburtsdatum
        </div>
        <p-calendar [formControl]="mitarbeiterForm.controls.geburtsdatum" dateFormat="dd.mm.yy"></p-calendar>
    </div>

    <!-- Angestellt seit -->
    <div class="entryDiv">
        <div class="headerText">
            Angestellt seit
        </div>
        <p-calendar [formControl]="mitarbeiterForm.controls.angestelltSeit" dateFormat="dd.mm.yy"></p-calendar>
    </div>

    <h3>Adresse</h3>

    <!-- Straße -->
    <div class="entryDiv">
        <div class="headerText">
            Straße
        </div>
        <input type="text" pInputText [formControl]="mitarbeiterForm.controls.strasse" />
    </div>

    <!-- Hausnummer -->
    <div class="entryDiv">
        <div class="headerText">
            Hausnummer
        </div>
        <input type="text" pInputText [formControl]="mitarbeiterForm.controls.hausnummer" />
    </div>

    <!-- PLZ -->
    <div class="entryDiv">
        <div class="headerText">
            PLZ
        </div>
        <input type="text" pInputText [formControl]="mitarbeiterForm.controls.plz" />
    </div>

    <!-- Zusatz -->
    <div class="entryDiv">
        <div class="headerText">
            Zusatz
        </div>
        <input type="text" pInputText [formControl]="mitarbeiterForm.controls.zusatz" />
    </div>

    <!-- Submit Button -->
    <div class="entryDiv">
        <button pButton type="button" label="Mitarbeiter hinzufügen" (click)="addMitarbeiter($event)"></button>
    </div>


</form>