<div>
    <a href="/addmitarbeiter/" class="mainText">Mitarbeiter hinzufügen</a>
</div>


<div style="margin-top: 20px;">
    <p-table 
        [value]="mitarbeiter" 
        selectionMode="single" 
        [(selection)]="selectedMitarbeiter"
        (onRowSelect)="onRowSelect($event)"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="vorname" style="width:20%">
                    Vorname <p-sortIcon field="vorname" />
                </th>
                <th pSortableColumn="nachname" style="width:20%">
                    Nachname <p-sortIcon field="nachname" />
                </th>
                <th pSortableColumn="jobId" style="width:20%">
                    Job <p-sortIcon field="jobId" />
                </th>
                <th pSortableColumn="abteilungId" style="width:20%">
                    Abteilung <p-sortIcon field="abteilungId" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-m>
            <tr [pSelectableRow]="m">
                <td>{{ m.vorname }}</td>
                <td>{{ m.nachname }}</td>
                <td>{{ getJobNameFromId(m.jobId) }}</td>
                <td>{{ getAbteilungNameFromId(m.abteilungId) }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<h4 style="margin-top:50px">Mitarbeiter Info:</h4>
<div *ngIf="selectedMitarbeiter != undefined">
    <!-- Vorname -->
    <div>
        {{selectedMitarbeiter.vorname}} {{selectedMitarbeiter.nachname}}
    </div>
    <div>
        {{getJobNameFromId(selectedMitarbeiter.jobId)}} - {{getAbteilungNameFromId(selectedMitarbeiter.abteilungId)}}
    </div>
    <div>
        {{curAdresse?.strasse}} {{curAdresse?.hausnummer}} <br>
        {{curAdresse?.plz}} {{curOrt}}
    </div>
</div>
<input pButton type="button" value="Bearbeiten" (click)="onEditMitarbeiter()" *ngIf="selectedMitarbeiter != undefined" style="margin-top: 20px">